#result-pos {
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(255, 0, 0, 0.25);
  color: rgb(200, 0, 0);
}

#result-neg {
  padding: 10px;
  border-radius: 6px;
  background-color: rgba(0, 255, 0, 0.25);
  color: rgb(0, 150, 0);
}
