<!-- prettier-ignore -->
{% extends "base/base.html" %}

{% block title -%}
Legal | Stethobot
{%- endblock %}

{% block description -%}
Legal notices, disclaimers, and terms and conditions for Stethobot.
{%- endblock %}

{% block canonical -%}
https://stethobot.com/legal
{%- endblock %}

{% block content %}
<h1>
  <img
    src="{{ url_for('static', filename='images/newspaper.svg') }}"
    class="emoji"
    alt="Newspaper emoji"
  />
  Terms of Service
</h1>
<strong>Last Updated: September 26, 2021</strong>
<h2>The Gist</h2>
<p>
  These Terms of Service (the "Terms") describe our commitments to you, and your
  rights and responsibilities when using our services.
  <strong>If you don't agree to these Terms, don't use our services.</strong>
</p>
<h2>Terms of Service</h2>
<p>
  These Terms govern your access to and use of the products and services we
  provide through or for <a href="/">stethobot.com</a> (collectively, the
  "Services").
</p>
<p>
  Please read these Terms carefully before accessing or using our Services. By
  accessing or using any part of our Services, you agree to be bound by all of
  the Terms and all other operating rules, policies, and procedures that we may
  publish via the Services from time to time (collectively, the "Agreement").
  You also agree that we may automatically change, update, or add on to our
  Services, and this Agreement will apply to any changes.
</p>
<h2>1. Who's Who</h2>
<p>
  "You" means any individual or entity using our Services. If you use our
  Services on behalf of another person or entity, you represent and warrant that
  you're authorized to accept the Agreement on that person's or entity's behalf,
  that by using using our Services you're accepting the Agreement on behalf of
  that person or entity, and that if you, or that person or entity, violates the
  Agreement, you and that person or entity agree to be responsible to us.
</p>
<p>
  Your Agreement is with us: the copyright holders of the Services
  (collectively, "We" or "The Stethobot Authors").
</p>
<h2>2. Our Responsibilities</h2>
<p>
  The Services we provide to you includes (but is not limited to) web interfaces
  (the "Forms") to receive predicted diagnoses (the "Diagnoses") for medical
  conditions (the "Conditions") via machine learning models (the "Models"),
  given a set of inputs (the "Inputs"). We also include statistics about each
  Model (the "Statistics"), which includes, each Model's estimated
  generalization accuracy, estimated sensitivity, and estimated specificity.
</p>
<p>
  We do not guarantee, for any Condition, that given Diagnoses are always
  correct. We also do not guarantee, for any Model, that the Statistics will be
  exactly correct. The Statistics represent our best approximation for how we
  believe the Models will perform on average.
</p>
<h2>3. Your Responsibilities</h2>
<p>
  You may not use our Services for any purpose that is unlawful or prohibited by
  the Agreement. You may not use the website in such a manner that it results in
  the Services being inaccessible to the general public. This includes, but is
  not limited to, repeatedly accessing or using our Services with great
  frequency.
</p>
<h2>4. Termination</h2>
<p>
  We reserve the right to cease or suspend your access and use to all or any
  part of the Services for any reason whatsoever and without any prior notice.
</p>
<h2>5. Disclaimers</h2>
<p>
  OUR SERVICES ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. WE DO NOT MAKE ANY
  WARRANTY THAT OUR SERVICES WILL BE ERROR FREE OR THAT ACCESS THERETO WILL BE
  CONTINUOUS OR UNINTERRUPTED. YOU UNDERSTAND THAT YOU DOWNLOAD FROM, OR
  OTHERWISE OBTAIN CONTENT OR SERVICES THROUGH, OUR SERVICES AT YOUR OWN
  DISCRETION AND RISK.
</p>
<h2>6. Limitation of Liability</h2>
<p>
  IN NO EVENT SHALL THE STETHOBOT AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
  OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SERVICES OR THE USE OR OTHER DEALINGS
  IN THE SERVICES.
</p>
<h2>7. Jurisdiction and Applicable Law</h2>
<p>
  EXCEPT TO THE EXTENT ANY APPLICABLE LAW PROVIDES OTHERWISE, THE AGREEMENT AND
  ANY ACCESS TO OR USE OF OUR SERVICES WILL BE GOVERNED BY THE LAWS OF THE STATE
  OF CALIFORNIA, U.S.A., EXCLUDING ITS CONFLICT OF LAW PROVISIONS. THE PROPER
  VENUE FOR ANY DISPUTES ARISING OUT OF OR RELATING TO THE AGREEMENT AND ANY
  ACCESS TO OR USE OF OUR SERVICES WILL BE THE STATE AND FEDERAL COURTS LOCATED
  IN THE STATE OF CALIFORNIA.
</p>
<h1>
  <img
    src="{{ url_for('static', filename='images/shush.svg') }}"
    class="emoji"
    alt="Shush emoji"
  />
  Privacy Policy
</h1>
<p>
  Privacy is important to us. That's why the data you send to us - specifically,
  the Inputs which the Forms ask for - are not stored, sold, or used in any way
  besides being sent to the corresponding Models in order to generate a
  Diagnosis.
</p>
<h1>
  <img
    src="{{ url_for('static', filename='images/hugging.svg') }}"
    class="emoji"
    alt="Two people hugging"
  />
  Attribution
</h1>
<p>
  Our Services feature emojis, all of which are part of a library called
  <a href="https://twemoji.twitter.com/">Twemoji</a> by
  <a href="https://github.com/twitter/twemoji/graphs/contributors"
    >Twitter, Inc and other contributors</a
  >, licensed under
  <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
</p>
<p>
  Our Terms, as described on this page, are a derived work from Automattic's
  Legalmattic project.
  <a href="https://github.com/Automattic/legalmattic">Legalmattic</a> by
  <a href="https://automattic.com/">Automattic</a> is licensed under
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"
    >CC BY-SA 4.0</a
  >, as are our Terms.
</p>
{% endblock %}
